extends ./layout.pug
block style
	link(href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' rel='stylesheet')
	script(src='https://code.jquery.com/jquery-3.5.1.min.js')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
	link(href='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css' rel='stylesheet')
	script(src='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js')
block content
	form.form(method='post' action='/create').text-dark
		input(type='hidden' name='user_id' value=user)
		input.title(type='text' name='title' placeholder='title' required='')
		textarea#summernote(name='description')
		button.w-100.btn.btn-lg.btn-primary(type='submit' onclick='write()') 마감
	script.
		$(document).ready(function() {
				$('#summernote').summernote();
		});
	script.
		import axios from 'axios';
		export default {
			data(){
				return{ 
					title: '',
					description: '',
					user_id: '',
				}
			},
			methods:{
				write()={
					axios.post('http://localhost:8080/create',{
						title: this.title,
						description: this.description,
						user_id: this.user_id
					})
					.then(function (response) {
						console.log(response);
					})
					.catch(function (error) {
						console.log(error);
					});
				}
			}
		};