doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body
    input(type='button' value='fetch' onclick="\
    fetch('css1').then(function(res){\
    res.text().then(function(text){\
    alert(text);\
    })\
    })\
    ")
		script.
			const axios = require('axios').default;
			const axios = require('axios');
			// 지정된 ID를 가진 유저에 대한 요청
			axios.get('/')
				.then(function (response) {
					// 성공 핸들링
					console.log(response);
				})
				.catch(function (error) {
					// 에러 핸들링
					console.log(error);
				})
				.then(function () {
					// 항상 실행되는 영역
				});
